# Public Google Sheet containing headers:
# Manager Name, Team Name, Team Link, Status, Points
GOOGLE_SHEET_ID=1saVEcqsG-AvFat-O8-X3V_6s1EySsnZC7KIWcyT537U
GOOGLE_SHEET_NAME=Sheet1

# Optional for server-side fetch in production/deploy
NEXT_PUBLIC_BASE_URL=http://localhost:3000
